<!-- app/templates/admin/projectitems/projectitems.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}ProjectItems{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">ProjectItems</h1>
        {% if projectitems %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Description </th>
                  <!--<th width="15%"> Employee Count </th>-->
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for projectitem in projectitems %}
                <tr>
                  <td> {{ projectitem.id }} </td>
                  <td> {{ projectitem.account_id }} </td>
                  <td> {{ projectitem.workitem_id }} </td>
                  <td> {{ projectitem.start_date }} </td>
                  <td> {{ projectitem.end_date }} </td>
                  <td> {{ projectitem.more_details }} </td>                  
                  <!--<td>
                    {% if projectitem.employees %}
                      {{ projectitem.employees.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>-->
                  <td>
                    <a href="{{ url_for('auth.edit_projectitem', id=projectitem.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('auth.delete_projectitem', id=projectitem.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No projectitems have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('auth.add_projectitem') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add ProjectItem
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}